<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>project</title>
    
    
               <link rel="styleSheet" href="/css/styles.css">
       
      
       
       
       
       
      </head>
      
    
        
  <body>
  

  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">EmpSystem</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}" >~Home~ </a>
      </li>
      
     
      
      <li class="nav-item active">
       <a class="nav-link" th:href="@{/addEmp}">~add emp~</a>
       </li>
       
       <li class="nav-item active">
       <a class="nav-link" th:href="@{/EmpData}">~Empdata~</a>
       </li>
       
         <li class="nav-item active">
       <a class="nav-link" th:href="@{/Service}">~Service~</a>
       </li>
       
       
    </ul>
   
  </div>
</nav>



 
 
 
 
 <h1  style="color:orange"th:text="${Added}"></h1>
 
 

 
 

 <h6 style="color:blue;text-align: center;">TEAMLEASE</h6>
 
 <div style="display: inline-block;  border-color:black;border-radius: 10px;background-color:black;">
 <p style="color:white">
                                        India is the world's 5th largest economy yet we are 142nd in per capita ranking worldwide. 
                             Our biggest problem is the poverty that arises from a lack of regulated work resulting in poor wages or self-employment to the point of self-exploitation.
                    With a vision of Putting India to Work, we are committed to creating an enabling and scalable framework for the country that helps create "Work" of Dignity and Quality for the over 88% of our workforce who struggle in the informal sector.
            We strive to support the 96% of our youth who have never had access to formal skilling opportunities and incentivize millions of enterprises to transition to the organized sector.
   We are innovating a model of economic prosperity for youth and enterprises at the intersection of our 3E solutions around Employment, Employability, and E-Workforce.
   </p>
 </div>
 
 
 
 
 
  </body>
</html>